html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f0f8ff; /* Açýk mavi arka plan rengi */
    background-image: url('../adenlogoblack.jpg');
    background-size: cover; /* Arka planýn tam sayfayý kaplamasýný saðlar */
    background-position: center center; /* Resmin ortalanmasý */
    background-repeat: no-repeat; /* Resmin tekrarlanmamasý */
    height: 100%; /* Tam yükseklik saðlar */
    margin: 0; /* Kenar boþluklarýný sýfýrlar */
    display: flex;
    flex-direction: column;
}


.kutu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.main {
    flex: 1;
}


.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40; /* Koyu bir arka plan rengi */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Üstte olmasý için */
}

